@import url('satoshi.css');

html {
        scroll-behavior: smooth;
}

body {
    font-family: "Satoshi-Variable", sans-serif;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    font-size: 16px;
    width: 100%;
}

main {
        padding: 0 1.5rem;
}
section.menu {
    margin: 2rem 0 0 0 ;
}

a {
    color: var(--text-color);
    transition: all 300ms ease-in-out;
}

button {
    padding: 1rem 1.5rem;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    font-weight: 800;
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    width: max-content;
}

.button--price {
    font-size: 1.3rem;
    text-transform: none;
}

section {
    margin-block: 4rem;
}

header, .services, .heroes, .testimonies, .contact, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
}

.logo {
    padding-block: 1.5rem;
    font-size: 2rem; 
    font-weight: 900;
}

header {
    padding: 0 1.5rem;
    nav {
        display: none;
        a:hover {
    color: var(--primary-color);
}
    }

}

.banner {
        width: 100%;
        margin-block-start: 1rem;
        margin-block-end: 0;
        height: 100vh;
        background: radial-gradient(circle at center, rgba(0, 0, 0, 0.4),rgba(255, 255, 255, 0)),url("../ressources/images/hero-banner.png") center/cover no-repeat;
        border-radius: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .banner__title {
            width: 80%;
            text-align: center;
            h1 {
                font-size: 3rem;
                font-weight: 900;
            }
            p {
                font-size: 1.2rem;
                font-weight: 600;
            }
        }
    }

h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    margin-block-end: 4rem;
    .super {
        color: var(--primary-color);
    }
}


.services__prestation {
    padding: 2rem 1rem;
    border: solid 0.1rem var(--primary-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    h3 {
        font-size: 1.8rem;
        font-weight: 900;
        color: var(--primary-color);
    }
    .prestation__desc {
        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: 600;
    }
    button {
        margin-block-start: 2rem;
    }
    .prestation__conditions {
        margin-block-start: 3.5rem;
        font-family: "Satoshi-VariableItalic";
        font-weight: 400;
        font-size: 0.9rem;
        line-height: normal;
    }
}

#heroes {
    display: flex;
    flex-direction: column;
    align-items: center;
    .heroes {
    margin-block-end: 2rem;
    }
    .heroes__card {
        position: relative;
        img {
            width: 100%;
            border-radius: var(--border-radius);
        }
        .info {
            display: none;
        }
        .card__desc {
            width: 100%;
            max-height: 55%;
            border-radius: 0 0 1.5rem 1.5rem;
            background-color: rgba(0, 0, 0, 0.4);;
            position: absolute;
            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1.5rem;
            text-align: center;
        }
        h3 {
            font-size: 1.6rem;
            font-weight: 900;
        }
    }
    .heroes__card:hover {
        .info {
            font-size: 0.9rem;
            width: 100%;
            max-height: 55%;
            display: block;
            position: absolute;
            top: 0;
            background-color: rgba(222, 170, 255, 0.658);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            text-align: center;
            border-radius: 1.5rem 1.5rem 0 0;
            font-family: "Satoshi-VariableItalic"
        }
    }
}


.testimonies__card {
    background: linear-gradient(#595394, #A29BFE);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        aspect-ratio: 1/1;
        width: 100%;
        height: auto;
        /* max-height: 20rem; */
        object-fit: cover;
        object-position: 50% 50%;
        border-radius: 1.5rem 1.5rem 50% 50%;
        border: 0.6rem solid var(--primary-color);
    }
    .testimonial {
        margin-block-start: 2rem;
        gap: 1rem;
        text-align: center;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.9rem;
        .testimonial__author {
            font-size: 1.2rem;
            font-weight: 800;
        }
        p {
            font-family: "Satoshi-VariableItalic";
            font-weight: 400;
        }
    }
    
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    form {
        width: 100%;
    }
    label {
        display: block;
        font-size: 1.2rem;
        font-weight: 800;
        text-align: center;
        margin-block: 0.8rem 0.5rem;
    }
    .contact__input {
        display: block;
        background-color: var(--alternate-bg-color);
        border-radius: var(--little-border-radius);
        width: 100%;
        height: 3.5rem;
        color: var(--text-color);
        font-size: 1rem;
        font-weight: 600;
        padding: 0.5rem;
    }
    .input--text {
        height: 18rem;
        resize: none;
    }
    input:focus, select:focus, textarea:focus {
        outline: 2px solid var(--primary-color);
    }

}

.curved {
    position: relative;
    background: linear-gradient(#595394, #A29BFE);
    height: 100%;
    border-top-left-radius: 50% 15%;
    border-top-right-radius: 50% 15%;
}

footer {
    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
            li {
                display: block;
                text-align: center;
                a:hover {
                    font-weight: 600;
                }
            }
    }
    p {
    padding-block: 2rem;
    }
}

/* Styles pour tablettes */
@media screen and (min-width: 700px) and (max-width: 1024px) {
    header {
        .menu {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        nav {
            display: flex;
            font-weight: 800;
            ul {
                list-style-type: none;
                display: flex;
                gap: 2rem;
                    li {
                        display: block;
                        text-align: center;
                    }
            }
            }
        }

    h2 {
        position: relative;
        width: max-content;
        margin: 0 auto 4rem auto;
        &::before {
            content: "";
            position: absolute;
            height: 2px;
            width: 2rem;
            background-color: var(--primary-color);
            top: 50%;
            left: -4rem;
        }  
        &::after {
            content: "";
            position: absolute;
            height: 2px;
            width: 2rem;
            background-color: var(--primary-color);
            top: 50%;
            right: -4rem;
        }   
    }

.services {
    display: grid;
    grid-template-areas:
    "a b"
    "c d"
    "e e";
    width: 100%;
    height: auto;
        .prestation--1 {
            grid-area: a;
        }
        .prestation--2 {
            grid-area: b;
        }
        .prestation--3 {
            grid-area: c;
        }
        .prestation--4 {
            grid-area: d;
        }
        .prestation--5 {
            grid-area: e;
        }
        .services__prestation {
            width: 100%;
            height: 100%;
        }
    }

    .heroes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
        .heroes__card {
            width: 48%;
        }
    }
    
    .testimonies {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        align-items: stretch;
        justify-content: center;
        .testimonies__card {
            border-radius: 50% 50% 1.5rem 1.5rem / 40% 40% 1.5rem 1.5rem;
            width: 48%;
            justify-content: space-between;
            img {
                border-radius: 50% 50%; 
            }
            .testimonial {
                margin-block-start: 0.5rem;
                padding: 1rem;
            }
        }
    }

    #contact {
    form {
        width: 80%;
    }
    }

    footer {
    ul {
        flex-direction: row;
    }
}
    .logo {
        padding-block: 1.5rem 0;
    }
}


/* Styles pour desktop */
@media screen and (min-width: 1025px) {

    section.menu {
    margin: 0;
    }

    header {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.4);
        .logo {
            padding: 0;
        }
    .menu {
        width: 100%;
        padding: 1rem 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    nav {
        display: flex;
        font-weight: 800;
        ul {
            list-style-type: none;
            display: flex;
            gap: 2rem;
                li {
                    display: block;
                    text-align: center;
                }
        }
        }
    }

    h2 {
        position: relative;
        width: max-content;
        margin: 0 auto 4rem auto;
        &::before {
            content: "";
            position: absolute;
            height: 2px;
            width: 2rem;
            background-color: var(--primary-color);
            top: 50%;
            left: -4rem;
        }  
        &::after {
            content: "";
            position: absolute;
            height: 2px;
            width: 2rem;
            background-color: var(--primary-color);
            top: 50%;
            right: -4rem;
        }   
    }

.services {
    display: grid;
    grid-template-areas:
    "a b b"
    "a c d"
    "e e d";
    margin: auto;
    width: 90%;
    height: auto;
        .prestation--1 {
            grid-area: a;
        }
        .prestation--2 {
            grid-area: b;
        }
        .prestation--3 {
            grid-area: c;
        }
        .prestation--4 {
            grid-area: d;
        }
        .prestation--5 {
            grid-area: e;
        }
        .services__prestation {
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }

    .heroes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
            width: 90%;
        .heroes__card {
            width: 32%;
        }
    }
    
    .testimonies {
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 3rem;
        align-items: stretch;
        justify-content: center;
        .testimonies__card {
            border-radius: 50% 50% 1.5rem 1.5rem / 28% 28% 1.5rem 1.5rem;
            width: 18rem;
            justify-content: flex-start;
            img {
                border-radius: 50% 50%; 
            }
            .testimonial {
                margin-block-start: 1rem;
                padding: 1rem;
            }
        }
    }

    #contact {
    form {
        width: 50%;
    }
    }

    footer {
    ul {
        flex-direction: row;
    }
}
    .logo {
        padding-block: 1.5rem 0;
    }
}