@import url('satoshi.css');

body {
    font-family: "Satoshi-Variable", sans-serif;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    font-size: 16px;
}

section {
    margin-block: 4rem;
}

section.menu {
    margin: 2rem 0 0 0 ;
}

a {
    color: var(--text-color);
}

button {
    padding: 1rem 1.5rem;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    font-weight: 800;
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    width: max-content;
}

.button--price {
    font-size: 1.3rem;
    text-transform: none;
}

header, .services, .heroes, .testimonies, .contact {
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
}

header {
    .logo {
        padding-block: 1.5rem;
        font-size: 2rem; 
        font-weight: 900;
    }
    nav {
        display: none;
    }
    .banner {
        margin-block-start: 1rem;
        margin-block-end: 0;
        height: 100vh;
        background: radial-gradient(circle at center, rgba(0, 0, 0, 0.4),rgba(255, 255, 255, 0)),url("../ressources/images/hero-banner.png") center/cover no-repeat;
        border-radius: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .banner__title {
            width: 80%;
            text-align: center;
            h1 {
                font-size: 3rem;
                font-weight: 900;
            }
            p {
                font-size: 1.2rem;
                font-weight: 600;
            }
        }
    }
}

h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    .super {
        color: var(--primary-color);
    }
}


.services__prestation {
    padding: 2rem 1rem;
    border: solid 0.1rem var(--primary-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    h3 {
        font-size: 1.8rem;
        font-weight: 900;
        color: var(--primary-color);
    }
    .prestation__desc {
        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: 600;
    }
    button {
        margin-block-start: 2rem;
    }
    .prestation__conditions {
        margin-block-start: 3.5rem;
        font-family: "Satoshi-VariableItalic";
        font-weight: 400;
        font-size: 0.9rem;
        line-height: normal;
    }
}

#heroes {
    display: flex;
    flex-direction: column;
    align-items: center;
    .heroes__card {
        position: relative;
        img {
            width: 100%;
            border-radius: var(--border-radius);
        }
        .card__desc {
            width: 100%;
            height: 55%;
            border-radius: 0 0 1.5rem 1.5rem;
            background-color: rgba(0, 0, 0, 0.4);;
            position: absolute;
            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1.5rem;
            text-align: center;
        }
        h3 {
            font-size: 1.6rem;
            font-weight: 900;
        }
    }
}


.testimonies__card {
    background: linear-gradient(#595394, #A29BFE);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: 100%;
        object-fit: cover;
        border-radius: 1.5rem 1.5rem 50% 50%;
        border: 0.6rem solid var(--primary-color);
    }
    .testimonial {
        margin-block-start: 2rem;
        gap: 1rem;
        text-align: center;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .testimonial__author {
            font-size: 1.2rem;
            font-weight: 800;
        }
        p {
            font-family: "Satoshi-VariableItalic";
            font-weight: 400;
        }
    }
    
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    form {
        width: 100%;
    }
    label {
        display: block;
        font-size: 1.2rem;
        font-weight: 800;
        text-align: center;
        margin-block: 0.8rem 0.5rem;
    }
    .contact__input {
        display: block;
        background-color: var(--alternate-bg-color);
        border-radius: var(--little-border-radius);
        width: 100%;
        height: 3.5rem;
        color: var(--text-color);
        font-size: 1rem;
        font-weight: 600;
        padding: 0.5rem;
    }
    .input--text {
        height: 20rem;
        resize: none;
    }

}
