:root {
    --main-bg-color: #000;
    --primary-color: #A29BFE;
    --alternate-bg-color: #4D4D4D;
    --text-color: #FFF;
    --border-radius: 1.5rem;
    --little-border-radius: 0.8rem;
    /* --gradient-primary: linear-gradient(195deg, rgba(162, 155, 254, 1) 0%, rgba(162, 155, 254, 1) 42%, rgba(238, 237, 255, 1) 100%); */
}